* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}